<!-- #docregion header -->
<h2>Checkout</h2>
<!-- #enddocregion header -->

<!-- #docregion list -->
<ul>
  <li *ngFor="let item of items">
    {{ item.product.name }} - {{ item.quantity * item.product.price | currency }}
    <hr>
  </li>
</ul>
<!-- #enddocregion list -->

<!-- #docregion form -->
<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)">
  <p>
    Name: <input type="text" formControlName="name">
  </p>

  <p>
    Address: <input type="text" formControlName="address">
  </p>

  <button type="submit">Purchase</button>
</form>
<!-- #enddocregion form -->
