<!-- #docplaster -->
<!-- #docregion -->
<div *ngIf="product$ | async as productInfo">
  <h3>{{productInfo.name}}</h3>
  <p>${{productInfo.price}}</p>
  <p>{{productInfo.description}}</p>

<!-- #docregion buy -->
  <button (click)="onBuy()">Buy</button>
<!-- #enddocregion -->

<!-- #docregion checkout-form -->
  <app-checkout-form
    *ngIf="showForm"
    (submit)="onSubmit($event, productInfo)">
  </app-checkout-form>
<!-- #enddocregion checkout-form -->

<!-- #docregion purchased -->
  <p *ngIf="purchased">
    Order Submitted!
  </p>
<!-- #enddocregion purchased -->  
</div>
